{ZL.Source id="节点栏目信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<title>{SField sid="节点栏目信息数据源" FD="NodeName" page="0"/}_{$SiteName/}</title>
<meta name="Keywords" content="{SField sid="节点栏目信息数据源" FD="Meta_Keywords" page="0"/}" />
<meta name="description" content="{SField sid="节点栏目信息数据源" FD="Meta_Description" page="0"/}" />
{ZL:Boot4()/}
<meta name="viewport" content="width=device-width,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
<link href="/dist/css/animate.min.css" rel="stylesheet"/>
<link href="{$CssDir/}global.css?Version={ZL.Label id="前端样式版本号"/}" rel="stylesheet"/>
</head>
<body>
{ZL.Label id="全站头部"/}


<div class="shop_banner">
<div class="shop_bannerBg"></div>
<h1>专业快电商就是老八号</h1>
</div>
<!--shopbanner-->

<div class="shop_list">
<div class="container">
<div class="list-group" id="NodeID75"><h3>糖巧膨化<a href="{ZL:GetNodeLinkUrl(75)/}">More +</a></h3></div>
<div class="row">
<div class="shop_img">
<ul class="list-unstyled d-flex flex-wrap">
{ZL.Label id="商城普通商品标签_不分页列表V4" NodeID="14" TitleNum="30" ShowNum="4" ClassName="col-lg-3 col-md-3 col-sm-3 col-12" /}
</ul>
</div>
</div>
<div class="list-group" id="NodeID132"><h3>果冻饮料<a href="{ZL:GetNodeLinkUrl(132)/}">More +</a></h3></div>
<div class="row">
<div class="shop_img">
<ul class="list-unstyled d-flex flex-wrap">
{ZL.Label id="商城普通商品标签_不分页列表V4" NodeID="132" TitleNum="30" ShowNum="4" ClassName="col-lg-3 col-md-3 col-sm-3 col-12" /}
</ul>
</div>
</div>
<div class="list-group" id="NodeID129"><h3>饼干炒货<a href="{ZL:GetNodeLinkUrl(129)/}">More +</a></h3></div>
<div class="row">
<div class="shop_img">
<ul class="list-unstyled d-flex flex-wrap">
{ZL.Label id="商城普通商品标签_不分页列表V4" NodeID="129" TitleNum="30" ShowNum="4" ClassName="col-lg-3 col-md-3 col-sm-3 col-12" /}
</ul>
</div>
</div>
<div class="list-group" id="NodeID131"><h3>方便速食<a href="{ZL:GetNodeLinkUrl(131)/}">More +</a></h3></div>
<div class="row">
<div class="shop_img">
<ul class="list-unstyled d-flex flex-wrap" >
{ZL.Label id="商城普通商品标签_不分页列表V4" NodeID="131" TitleNum="30" ShowNum="4" ClassName="col-lg-3 col-md-3 col-sm-3 col-12" /}
</ul>
</div>
</div>
<div class="list-group" id="NodeID130"><h3>辣条肉干<a href="{ZL:GetNodeLinkUrl(130)/}">More +</a></h3></div>
<div class="row">
<div class="shop_img">
<ul class="list-unstyled d-flex flex-wrap">
{ZL.Label id="商城普通商品标签_不分页列表V4" NodeID="130" TitleNum="30" ShowNum="4" ClassName="col-lg-3 col-md-3 col-sm-3 col-12" /}
</ul>
</div>
</div>
</div>
</div>

{ZL.Label id="全站底部"/}


<nav class="fixed-bottom mfoot">
<div class="row">
<div class="col"><a href="/"><i class="zi zi_home" zico="家"></i>首页</a></div>
<div class="col"><a href="{ZL:GetNodeLinkUrl(2)/}" class="active"><i class="zi zi_gem"></i>商品</a></div>
<div class="col"><a href="{ZL:GetNodeListUrl(2)/}"><i class="zi zi_shieldalt"></i>1元购</a></div>
<div class="col"><a href="{ZL:GetNodeLinkUrl(1)/}"><i class="zi zi_paperplane"></i>资讯</a></div>
<div class="col"><a href="/user/"><i class="zi zi_user"></i>我</a></div>
</div>
</nav>

<script>

</script>
</body>
</html>